/* Resetear todos los margenes */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #000;
}

nav{
    /*Los colores se expresan en hexadecimal*/
    background: rgb(0, 52, 98);
    height: 80px;

    /* Para que siempre se ponga y se adapte solo se utilizan los porcentajes  */
    width: 100%;
}

label.logo {
    color: rgb(255, 255, 255);
    font-size: 32px;
    padding: 0 100px;
    font-weight: bold;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

a:hover{
    background: orange;
    transition: 0.5s;
}

/* Las clases se acceden con el . */
.checkbtn {
    display: none;
    font-size: 32px;
    color: #ffffff;
    float: right; /* Posicion de el elemento */
    line-height: 80px; /* ancho de la linea */
    margin-right: 40px; /* margen a la derecha */
}

/* Los id se acceden con el # */
#check{
    display: none; /* Es para ocultar el cuadro de checkbox */
}

/* Modificar el logo */
@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

/* Para adaptar a cualquier pantalla */
@media (max-width:900px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 60%;
        height: 100%;
        background: #000;
        top: 80px;
        left: -120%;
        text-align: center;
        transition:  all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
    }

    nav ul li a{
        font-size: 23px;
        margin-left: -10%;
    }

    /* Ocultar en la izquierda el menu, para que al presionar aparezca */
    #check:checked ~ ul{
        left: 0;
    }
}

/* termina el menu */

/*comienza una nueva seccion*/

section{
    background:linear-gradient(to bottom, #040500d9 , #97000076), url("https://images.unsplash.com/photo-1612404730960-5c71577fca11?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat;
    background-size: cover;
    height: 100vh;
}

/*Aqui comenzamos la secciÃ³n de tarjetas*/

.card-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1280px;
    margin: 150px auto;
    padding: 20px;
    gap:20px;
}

.card-list .card-item{
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    list-style: none;
    cursor: pointer;
}

.card-list .card-item img{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    object-fit: cover;
}